// COLORS
$color-primary: #57b746;
$color-primary-light: #97f680;
$color-primary-dark: #047b04;

$color-white: #fff;
$color-black: #000;

$color-grey: #ccc;
$color-grey-light: #eee;
$color-grey-dark: #aaa;

// FONTS
$base-font-size: 1.6rem;
$small-font-size: 2rem;
$medium-font-size: 5rem;
$large-font-size: 7rem;
$largest-font-size: 10rem;
